.section {
    text-align: center;
    font-family: 'Arial', sans-serif;
}

.title {
    font-size: 2em;
    margin-bottom: 0.5em;
    color: #333;
    text-align: center;
}

.tagline {
    margin-bottom: 1em;
    color: #555; 
    text-align: center;
}

.disco-ball-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    text-align: center;
    padding: 0;
    margin: 0;
}

.disco-ball-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 0;
}

.disco-ball-container svg {
    margin: 0 auto;
    max-height: 60vh;
    display: block;
    padding: 20px;
}

.download-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.download-button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}
  

.question-container {
    margin: 20px;
}



.start-button {
    background-color: #007bff;
    color: white;
    border: 1px solid #ccc;
    border-radius: 20px;
    padding: 15px 50px;
    margin: 20px auto;
    display: block;
    width: auto;
    box-sizing: border-box;
    cursor: pointer;
    text-align: center;
}

.answer-button, .next-button {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 20px;
    padding: 10px 20px;
    margin: 5px;
    /* display: flex; */
    width: calc(100% - 50px);
    box-sizing: border-box;
    cursor: pointer;
    justify-content: center;
    align-items: center;
}

.answer-button {
    transition: background-color 0.3s;
  }
  
.answer-button.selected {
background-color: #007bff;
color: white;
border-color: #007bff; 
}
  

.start-button:hover, .answer-button:hover, .next-button:hover {
    background-color: #e9e9e9;
}

.selected-answer {
    background-color: #007bff;
    color: white;
}

.hidden {
    display: none;
}

body {
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
}

.container {
    max-width: 800px;
    margin: auto;
    padding: 5px;
}

.next-button {
    display: flex;
    background-color: #007bff;
    color: white;
    font-weight: bold;
    margin-top: 20px;
    width: auto;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    padding: 15px 50px;
}

.answers {
    text-align: center;
}
